# =============================================================================
# Pager
# Environment Configuration
# =============================================================================

# -----------------------------------------------------------------------------
# Application
# -----------------------------------------------------------------------------

NODE_ENV=development

# -----------------------------------------------------------------------------
# Backend
# -----------------------------------------------------------------------------

BACKEND_PORT=3000

# -----------------------------------------------------------------------------
# Frontend
# -----------------------------------------------------------------------------

FRONTEND_PORT=5173

# URL utilizada pelo Frontend para acessar a API
VITE_API_URL=http://localhost:3000

# URL do WebSocket
VITE_WS_URL=ws://localhost:3000

# -----------------------------------------------------------------------------
# PostgreSQL
# -----------------------------------------------------------------------------

POSTGRES_HOST=postgres
POSTGRES_PORT=5432

POSTGRES_DB=pager

POSTGRES_USER=pager

POSTGRES_PASSWORD=changeme

# -----------------------------------------------------------------------------
# Prisma
# -----------------------------------------------------------------------------

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

# -----------------------------------------------------------------------------
# Authentication
# -----------------------------------------------------------------------------

JWT_SECRET=change_this_secret

JWT_EXPIRES_IN=1d